<div class="container">
  <div>
    <div class="container-temperature-amplitude">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"
          />
        </svg>
        <span
          >{{ maxTemperature | temperatureToCelsius | number: "1.1-1" }}°C</span
        >
      </div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"
          />
        </svg>
        <span
          >{{ minTemperature | temperatureToCelsius | number: "1.1-1" }}°C</span
        >
      </div>
    </div>
    <div class="container-temperature">
      {{ temperature | temperatureToCelsius | number: "1.1-1" }}°C
    </div>
    <div class="temperature-feels-like">
      Odczuwalna:
      {{ feelsLikeTemperature | temperatureToCelsius | number: "1.1-1" }}°C
    </div>
  </div>
</div>
