@import "../../../../variables.scss";
.container-temperature {
  font-size: $large-font-size;
  color: white;
  text-align: center;
}

.container-temperature-amplitude {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: $small-font-size;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  position: relative;
  animation-name: on-start-temperature;
  animation-duration: 1s;
}

.temperature-feels-like {
  font-size: $small-font-size;
  color: white;
  text-align: center;
}

.icon {
  fill: white;
  margin-right: 0.5vmin;
  height: $small-font-size;
}

@keyframes on-start-temperature {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
