@import "../../../../variables.scss";
.container-temperature {
  font-size: $large-font-size;
  color: white;
  text-align: center;
}

.container-temperature-amplitude {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: $small-font-size;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

svg {
  fill: white;

  height: $small-font-size;
}

.temperature-feels-like {
  font-size: $small-font-size;
  color: white;
  text-align: center;
}
