<div class="bottom-bar">
  <div class="parameter-container">
    <object
      type="image/svg+xml"
      data="../../../../assets/humidity.svg"
      class="svg"
    >
      Humidity level
    </object>

    <span>{{ humidityLevel }}%</span>
  </div>
  <div class="parameter-container">
    <object
      type="image/svg+xml"
      data="../../../../assets/cloudiness.svg"
      class="svg"
    >
      Cloudiness level
    </object>

    <span>{{ cloudinessLevel }}%</span>
  </div>
  <div class="parameter-container">
    <object
      type="image/svg+xml"
      data="../../../../assets/athmospheric-pressure.svg"
      class="svg"
    >
      Athmospheric pressure
    </object>

    <span>{{ athmosphericPressure }}hPa</span>
  </div>
</div>
