<div class="container">
  <div class="top-bar">
    <app-widged-calculation-info
      [city]="nameOfCity$ | async"
      [timeOfCalculation]="dataOfCalculation$ | async"
    ></app-widged-calculation-info>
    <app-widged-refresh-button
      [isInRefreshingState]="isRefreshing$ | async"
      (clickButton)="refreshWeather()"
    ></app-widged-refresh-button>
  </div>

  <div class="main-content">
    <app-weather-status [iconId]="iconId$ | async"></app-weather-status>
    <app-widged-temperature
      [temperature]="currentTemperature$ | async"
      [maxTemperature]="maxTemperature$ | async"
      [minTemperature]="minTemperature$ | async"
    ></app-widged-temperature>
  </div>

  <div class="bottom-bar">
    <app-humiditi-level
      [humidityLevel]="humidityLevel$ | async"
    ></app-humiditi-level>

    <app-cloudiness
      [cloudinessLevel]="cloudinessLevel$ | async"
    ></app-cloudiness>

    <app-athmospheric-pressure
      [athmosphericPressure]="athmosphericPressure$ | async"
    ></app-athmospheric-pressure>
  </div>
</div>
