@import "../../variables.scss";

.container {
  padding: 2vw;
  width: 33vw;
  height: 33vh;
  border-radius: 4vh;
  display: flex;
  flex-direction: column;
}

.morning-background {
  background: linear-gradient($first-color-morning, $second-color-morning);
}
.day-background {
  background: linear-gradient($first-color-day, $second-color-day);
}
.night-background {
  background: linear-gradient($first-color-night, $second-color-night);
}

.top-bar {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-content {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
