@import "../../variables.scss";

.bottom-bar {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.parameter-container {
  color: white;
  text-align: center;
  display: flex;
  font-size: $medium-font-size;
}

svg {
  fill: white;
  height: $medium-font-size;
  margin-right: 0.5vmin;
}
