@import "../../variables.scss";
.container {
  font-size: $large-font-size;
  color: white;
  text-align: center;
}

.container-temperature-amplitude {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: $medium-font-size;
  color: white;
}
