.container {
  font-size: 5vh;
  color: white;
  text-align: center;
}

.container-temperature-amplitude {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2vh;
  color: white;
}
