$small-font-size: 1vmin;
$medium-font-size: 2vmin;
$large-font-size: 6vmin;

$first-color-morning: #38528d;
$second-color-morning: #111f62;

$first-color-day: #d75b05;
$second-color-day: #d83401;

$first-color-night: #aeb1b8;
$second-color-night: #39415a;
