$small-font-size: 1.5vh;
$medium-font-size: 2.5vh;
$large-font-size: 7vh;

$first-color-morning: #38528d;
$second-color-morning: #111f62;

$first-color-day: #d75b05;
$second-color-day: #d83401;

$first-color-night: #aeb1b8;
$second-color-night: #39415a;
